./C++/Benchtop/BVCX01/*
*.tlog
*.log
*.idb
*.pdb
*.vs
*.lib
*.dll
!CameraTypeConversion.dll
*.cache
*.user
*.exe
*.ilk
*.obj
*.cfg

# 실험 데이터
*.h5
*.hdf5

# 파이썬 캐시 파일
*.pyc
__pycache__/

# macOS 시스템 파일
*.DS_Store